@import "tailwindcss";


@theme {
  --color-dark-900: oklch(0.7135 0.0927 139.55);
}

@theme {
  --color-dark-700: oklch(0.7966 0.0975 134.7);
}

@theme {
  --color-dark-500: oklch(0.8997 0.0729 137.75);
}

@theme {
  --color-dark-300: oklch(0.9467 0.074 118.45);
}